.outer{

    display: grid;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr 3fr 3fr;
    grid-template-columns:  2fr 2fr 2fr 0.3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr ;

    margin: 2% 2% 2% 2% ;
    width: 76%;
    position:relative;
    float: right;
    background-color: khaki;
    padding: 2% ;
    font-size: 1.5em;
    font-family: "Comic Sans MS";

}
.bred{
    background-color: rgb(190,150,140);
}
.yelow{
background-color: yellow;}
.dgreen{
    background-color: darkgreen;    
}


.outer div{
border-radius: 10%;
padding: 5px;
font-size: 1.5em;
font-weight: bold;
text-align: center;



}
.Blue{
    background-color: aqua;
}

.aqua{
    background-color: rgb(30,140,140);
}
.red{
        background-color: red;
}
.lactinoid{
        background-color: burlywood;
}

.tran{
        background-color: darkorange;
}
.salat{
    
        background-color: rgb(0,200,120);
}

.actinoid{
        background-color: rgb(245,100,70);
}
